html {
  scroll-behavior: smooth;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
    transform: scale(1.5);
    transform-origin: 0 0;
	scroll-behavior: smooth;
}
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
nav {
	background-color: #fff;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 2px 5px #ccc;
	top: 0;

}
nav a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
}
nav a:hover {
	background-color: #333;
	color: #fff;
}
.container {
	margin: 0 auto;
	padding: 10px;
	max-width: 960px;
	display: flex;
	flex-wrap: wrap;
}
.barra {
  display: block;
}
#saldo {
  border-style: dotted dashed solid double;
  width: 100px;
 height: 50px;
 
}
.product {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 5px #ccc;
	width: 200px;
	text-align: center;
}
.product img {
	max-width: 100%;
	height: auto;
}
.product h2 {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#player{
	 scroll-snap-align: start;
     overflow:auto; 

    }
	

/* Estilos gerais */
		body {
			background: #121212;
			color: #fff;
			font-family: 'Segoe UI', sans-serif;
			font-size: 1.2rem;
			margin: 0;
			padding: 0;
		}

		header {
			background: #222;
			padding: 2rem;
			text-align: center;
		}

		h1 {
			margin: 0;
		}

		nav {
			align-items: center;
			background: #333;
			display: flex;
			justify-content: space-between;
			padding: 1rem;
		}

		nav a {
			color: #fff;
			font-size: 1.2rem;
			margin-right: 1rem;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			text-transform: uppercase;
		}

		nav a:hover {
			color: #efefef;
		}

		nav h4 {
			margin: 0;
			padding: 0;
		}

		.container {
			display: flex;
			flex-wrap: wrap;
			margin: 2rem;
		}

		.product {
			background: #222;
			border-radius: 0.5rem;
			box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
			flex-basis: calc(50% - 2rem);
			margin: 1rem;
			overflow: hidden;
			position: relative;
			text-align: center;
			transition: all 0.3s ease-in-out;
		}

		.product:hover {
			transform: translateY(-5px);
		}

		.product img {
			height: 200px;
			object-fit: cover;
			object-position: center;
			width: 100%;
		}

		.product h2 {
			font-size: 1.5rem;
			margin: 1rem 0;
		}

		.product p {
			font-size: 1.2rem;
			margin: 0;
		}

		.close-cart {
			background: #777;
			border: none;
			border-radius: 50%;
			color: #fff;
			cursor: pointer;
			font-size: 1rem;
			height: 2rem;
			line-height: 2rem;
			outline: none;
			position: absolute;
			right: -1rem;
			top: -1rem;
			transition: all 0.3s ease-in-out;
			width: 2rem;
			z-index: 2;
		}

		.close-cart:hover {
			background: #efefef;
			color: #222;
		}
		a:hover {
			background: #121212;
			color: #222;
			
		}
